<header class="title">
  <h1 class="header-text">{{title}}</h1>

  <p class="sub-text">We pass a lot of news as people.</p>
</header>

<!-- The actual web -->
<app-news-web></app-news-web>

<!-- Description -->
<section class="about sub-text">
  <p><b>Negative</b> popular news is often seen
    as the only news. Bad events are easily remembered, bad people are
    more interesting, other's unhappiness helps us forget our own. These ideas are easy
    to fall into but are they necessarily true? Are they reflected in our news?
  </p>
  <p>
    This web attempts to show a portion of the news and how we have interacted with it. The size of each node is
    determined by Facebook interactions up to the current date, while the color shows the sentiment of each article.
    Those 'unhappy' and 'negative' articles appear stark red, while blue shows those with a 'positive' subject.
    All politics aside.
  </p>
  <p>
    The fundamentals of this visualization are present (and functioning!*). While this version pulls only from a
    static segment of the data set, the concept is much grander. The news always grows, as does how we view and interact with it.
  </p>
  <p>
    In a later (potentially hypothetical) version, we will be able to dive deeper into interaction, exploring quantitative
    changes not only in Facebook but in many of the other ways we share what we read on the internet. For now we
    will just have to be content with the concept, and forgive the shortcomings of static data, a semi-skewed color
    scale, and a few hidden numbers. But hey, let's not focus on the negative. The world is beautiful and so are you.
  </p>
</section>

<footer>
  <p><a href="">Psst .. <i>fullscreen</i> here! </a></p>
  <p class="sub-text">Visualizing Society 2016 - Austin Cawley-Edwards - HST 325 Stevens Institute of Technology</p>
</footer>


